.icon > svg, .icon img {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
.icon > svg path, .icon img path {
    fill: #828282; }

.bigicon > svg, .bigicon img {
    float: left;
    width: 32px;
    height: 32px;
    /*margin-left: -45px;*/
    vertical-align: top;
}
.bigicon > svg path, .bigicon img path {
    fill: #828282;
}

.papers .desc {
    padding-left: 10pt
}
.papers li {
    clear: both;
    padding: 2pt;
}

.service .desc {
    padding-left: 10pt
}
.service li {
    clear: both;
    padding: 2pt;
}

.status .desc {
    padding-left: 10pt
}
.status li {
    clear: both;
    padding: 2pt;
}

.talks .icon {
}

.talks .desc {
    padding-left: 30pt;
}

.talks li {
    clear: both;
    padding: 5pt;
}



h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 15pt;
}

body {
    margin-top: 15px;
}

/*
ul {
    padding: 0em;
    margin: 0em;

    background: #f0f0f0;
    padding-bottom: 5px;
    margin-left: 0px;
    border-left: 5px solid gray;
}
*/
/*
ul li {
    margin: 0.25em;
    margin-left: 1.5em;
    padding-bottom: 5px;
}

ol {
    padding: 0.5em;
    background: #f0f0f0;
    border-left: 5px solid gray;
}
*/
/*
ol.list-unstyled {
    margin-left: 25px;
    list-style-type: none;
}
ol.list-unstyled li {
/*    list-style: decimal outside;
    display: list-item;*/
    list-style-type: none;
    padding: 5px;
}

ul.list-unstyled {
    list-style-type: none;
}
*/

body {
    font-size: 14px;
}
