.icon > svg, .icon img {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
.icon > svg path, .icon img path {
    fill: #828282; }

.bigicon > svg, .bigicon img {
    float: left;
    width: 32px;
    height: 32px;
    margin-left: -40px;
    vertical-align: top;
}
.bigicon > svg path, .bigicon img path {
    fill: #828282;
}

h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
}

h3 {
    font-size: 15pt;
}

body {
    margin-top: 15px;
}

ol.list-unstyled {
    margin-left: 40px;
}
ol.list-unstyled li {
/*    list-style: decimal outside;*/
    display: list-item;
    padding-bottom:5px;
}

body {
    font-size: 14px;
}
