<html>
<TMPL_INCLUDE NAME=templates/head.html.tmpl/>
<body>

<img class="bigmug" alt="photo of Piotr" src="images/wolf_gap1.jpg"/>
  
<p>I'm a post-doc at the <a href="http://www.cmu.edu">Carnegie Mellon
University</a> <a href="https://www.cylab.cmu.edu/">CyLab</a>, working
under <a href="http://www.andrew.cmu.edu/user/danupam/">Anupam
Datta</a> on algorithmic transparency and related problems.</p>

<p>Previously I completed my PhD studies at
the <a href="http://www.umd.edu">University of Maryland, College
Park</a>, within
the <a href="http://www.cs.umd.edu/projects/PL/">Programming Languages
group</a>. My thesis was on measurement of information security
metrics. like dogs.</p>
  
</body>
</html>
