<!DOCTYPE html>
<html lang="en">
  <TMPL_INCLUDE NAME="templates/head.html.tmpl"/>
  <body>
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-xs-12 col-md-4 col-sm-12">
          <div class="row">
            
            <div class="col-xs-12 col-sm-6 col-md-12">
              <img style="margin-bottom:20px;" class="img-rounded img-responsive" src="images/science.jpeg"/>
            </div>
            
            <div style="padding-left:0px;" class="col-xs-12 col-sm-6 col-md-12">
              <div class="col-xs-12"><h1 style="margin-top:0px;">Piotr (Peter) Mardziel</h1></div>

              <div class="col-xs-6">
                <a href="mailto:piotrm@gmail.com">piotrm@gmail.com</a><br/>
                <a href="https://github.com/piotrm0"><span>piotrm0</span></a>
                <span class="icon"><img src="images/icon_github.svg"/></span><br/>
                <a href="https://bitbucket.org/piotrm"><span>piotrm</span></a>
                <span class="icon"><img src="images/icon_bitbucket.svg"/></span><br/>
                <a href="https://twitter.com/piotrm0"><span>piotrm0</span></a>
                <span class="icon"><img src="images/icon_twitter.svg"/></span><br/><br/>
              </div>

              <div class="col-xs-6">
                <a href="http://www.cmu.edu">CMU</a><br/>
                <a href="http://www.cylab.cmu.edu">CyLab</a><br/>
                <a href="http://www.cs.umd.edu/projects/PL/">PLUM</a><br/>
              </div>
              
            </div>
          </div>
        </div>
        
        <div class="col-md-8 col-sm-12">
          I'm a post-doc
          at <a href="http://www.cmu.edu">CMU</a> <a href="http://www.cylab.cmu.edu">CyLab</a>,
          working
          under <a href="http://www.andrew.cmu.edu/user/danupam/">Anupam
          Datta</a> on algorithmic transparency and related problems.

          <!-- <p>&lt;-- this guy</p> -->

       <p><h2>service</h2>
         <b>committees</b>: FCS(2016)<br/>
         <b>reviewer</b>: CSF(2013-2016), POPL(2013,2015),
         S&P(2015-2016), CCS(2016), ASIACCS(2014), ICALP(2016),
         NDSS(2017), FATML(2016), DAT(2016), Journal of Computer and
         System Sciences, Journal of Approximate Reasoning
      </p>
      
      <p><h2>topics</h2>
        <TMPL_INCLUDE NAME="../build/pubs/topics.shtml"/></p>
      
      <p><h2>papers</h2>
        <TMPL_INCLUDE NAME="../build/pubs/papers.shtml"/></p>

      <h2>talks</h2>
        <ol class="list-unstyled">
          <li><a href="docs/mardziel15hcss.pres.pptx"><span class="bigicon"><img src="images/icon_ppt.svg"/></span>Models and Games for Quantifying Vulnerability of Secret Information</a><br/>Presented at HCSS 2015.</li>
          <li><span class="bigicon"><img src="images/icon_ppt.svg"/></span><a href="docs/mardziel15dagstuhl.pres.pptx"> Probabilistic Programming for Security</a></li>
          <li><span class="bigicon"><img src="images/icon_ppt.svg"/></span><a href="docs/mardziel15thesis.latest-pres.pptx"> Modeling, Measuring, and Limiting Adversary Knowledge</a></li>
          <li><span class="bigicon"><img src="images/icon_pdf.svg"/></span><a href="docs/mardziel14loss.pres.pdf"> Adversary Gain vs. Defender Loss in Quantified Information Flow</a></li>
          <li><span class="bigicon"><img src="images/icon_pdf.svg"/></span><a href="docs/mardziel14time.pres.pdf"> Quantifying Information Flow for Dynamic Secrets</a></li>
          <li><span class="bigicon"><img src="images/icon_ppt.svg"/></span><a href="docs/mardziel12probabilistic.pres.pptx"> Probabilistic Computation for Information Security</a></li>
          <li><span class="bigicon"><img src="images/icon_ppt.svg"/></span><a href="docs/mardziel12smc.pres.pptx"> Knowledge-Oriented Secure Multiparty Computation</a></li>
          <li><span class="bigicon"><img src="images/icon_ppt.svg"/></span><a href="docs/mardziel11dynamic.pres.pptx"> Dynamic Enforcement of Knowledge-based Security Policies (using Probabilistic Abstract Interpretation)</a></li>
        </ol>
        
      <p><h2>tech-reports</h2>
        <TMPL_INCLUDE NAME="../build/pubs/tech-reports.shtml"/></p>

    </div>
      </div>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
              integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
              crossorigin="anonymous"></script>
    

      
  </body>
</html>
